:root {
  --black: #121212;
  --gray: #1d1d1d;
  --brown: #bea69e;
  --white: #ffffff;
  --white05opacity: rgba(255, 255, 255, 0.5);
  --dmsans: "DM Sans", sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--black);
}
/* 375 Mobile first css alanı */


.header-and-hero-container {
  width:100%;
  background-image:url(../images/dashed-bg.png);
  color:white;
  padding-top:20px;
}

/* Header */

.nav-ul, .header-sign-up-button {
  display:none;
}
.header-nav {
  display:flex;
  justify-content: space-between;
  align-items:center; 
  padding: 9px 20px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--black);
}
.nav-logo-icon {
  width: 127px;
  height: 20px;
  display: block;
  padding: 0;
  margin: 0;
}
.nav-cam-icon:hover{
  --color3:var(--brown)
}

.nav-icons-div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-section {
  width:335px;
  margin:auto;
}
/* Header Bitimi */

/* Hero */
.hero-section { 
  width:335px;
  margin:auto;
  background-color: var(--gray);
  border-radius: 30px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top:20px;
  
}
.hero-div {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  gap:20px;
}
.hero-main-title-h1{
  font-family: DM Sans;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white);
  padding-bottom:20px;
}

.hero-main-title-h1-span {
  font-family: DM Sans;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--brown);
}
.hero-paragraph {
  font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--white);
    padding-bottom: 30px;
}
.hero-happy-reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right:10px;
}
.hero-reviws-star-text-number {
  display: flex;
}
.hero-h6-h4-container {
  display:flex;
  flex-direction: column;
  margin-top:10px;
  margin-left:5px;
}
.hero-happy-studs-link-container {
  display:flex;
  flex-direction: column;
}
.hero-happy-studs-link-text {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white); 
}
.hero-reviws-text {
  opacity: 0.5;
}
.hero-reviws-text, .hero-reviws-number {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.04em;
  text-align: left;
  color: var(--white); 
}
.hero-photographer {
  margin-left:15px;
}
/* kayan yazı bölümü */
.advertisement {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  border: 1px solid #FFFFFF33;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.marquee {
  display: flex;
  height: 100%;
  margin-top:20px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.marquee p {
  display: flex;
  width: 100%;
  height: 100%;
  margin: auto;
  line-height: 32px;
  text-align: center;
  /* Start off the right edge */
  transform: translateX(100%);
  /* Animate to the left */
  animation: scroll-left 5s linear infinite;
}
  .marquee__line {
  font-family: DM Sans;
  font-size: 28px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  color: var(--brown);
  
  }
  .span-your-photography {
    font-family: DM Sans;
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    text-transform: uppercase;
    color: var(--white);
    
  }
  @keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
/* Hero Bitimi */

/* About Us */

/* About Us Bitimi */

/* Our Courses */

/* Our Courses Bitimi */

/* Our Mentors */

/* Our Mentors Bitimi */

/* Sign up */

/* Sign up Bitimi */

/* Reviews */

/* Reviews Bitimi */

/* Footer */

/* Footer Bitimi */

/* Kauçuk mobile */
@media screen and (max-width: 374px) {
  /* Header */
  .header-section {
    width:90%;
  }
  /* Header Bitimi */

  /* Hero */
  .hero-section {
    width:90%;
  }
  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Header */
  .header-section {
    width:704px;
  }
  .header-nav {
    height:60px;
  }
  /* Header Bitimi */

  /* Hero */
  .hero-section {
    width:704px;
  }
 .hero-main-title-h1 {
  width:517px;
  font-size:60px;
  line-height: 1.06;
 
 }
 .hero-main-title-h1-span {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.06;
}
 .hero-paragraph {
  width:418px;
 }
 .hero-happy-reviews-container {
  width:390px;
 }
 .hero-photographer {
  margin:auto;
  content:url(../images/Photographer_Tablet.png)
 }
 .nav-cam-div {
  display:none;
 }
 .header-nav {
  width:504px;
 }

 .header-sign-up-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  outline: transparent;
  color: #121212;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  padding: 16px 58px;
  border: none;
  border-radius: 12px;
  white-space: nowrap;
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left:14px;
 }
 .header-container {
  display:flex;
 }
 /* kayan yazı bölümü */
 .advertisement{
  margin-top: 100px;
 }
 .marquee{
  margin-top: 24px;
  margin-bottom: 24px;
 }
 .marquee p{
  line-height: 50px;
  
 }
 .marquee__line {
  font-size: 40px;
  line-height: 50px;
 }
 .span-your-photography{
  font-size: 40px;
  line-height: 50px;
 }
  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop */
@media screen and (min-width: 1280px) {
  /* Header */
  .header-section {
    width:1080px;
  }
  .nav-cam-div {
    display:none;
   }
  .nav-burger-div {
    display:none;
  }
  .nav-ul {
    display:flex;
    list-style: none;
    gap:20px;
    margin-left:150px;
  }
  .header-sign-up-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    outline: transparent;
    color: #121212;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    padding: 16px 58px;
    border: none;
    border-radius: 12px;
    white-space: nowrap;
    text-decoration: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left:20px;
   }
   .header-container {
    display:flex;
   }
   .header-nav {
    width:1080px;
    justify-content: space-between;
    height:60px;
   }
   /* kayan yazı bölümü */
   .advertisement{
  margin-top: 150px;
 }
 .marquee{
  margin-top: 24px;
  margin-bottom: 24px;
 }
 .marquee p{
  line-height: 64px;
  animation: none;
  transform: none;
 }
 .marquee__line {
  font-size: 59px;
  line-height: 64px;
 }
 .span-your-photography{
  font-size: 59px;
  line-height: 64px;
 }
  /* Header Bitimi */

  /* Hero */
  .hero-section {
    width:1080px;
  }
  .hero-div {
    flex-direction: row;
    padding-left: 20px;
  }
  .hero-div-all-texts-container {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-main-title-h1 {
    width:523px;
    font-size:64px;
    line-height: 1.06;
  }
  .hero-main-title-h1-span {
    font-size:64px;
    line-height: 1.06;
  }
  .hero-paragraph {
    width:418px;
    margin-bottom: 110px;
  }
  .hero-happy-reviews-container {
    width:388px;
    margin-bottom:40px;
  }
  .hero-photographer {
    content:url(../images/Photographer.jpg)
  }
  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop - Geniş Ekran Opsiyonel */
@media screen and (min-width: 1440px) {
  /* Header */
  .header-section {
    width:1240px;
  }
  /* Header Bitimi */

  /* Hero */
  .hero-section {
    width:1240px;
  }
  .hero-photographer {
    margin-right:60px;
  }
  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
