:root {
  --black: #121212;
  --gray: #1d1d1d;
  --brown: #bea69e;
  --white: #ffffff;
  --white05opacity: rgba(255, 255, 255, 0.5);
  --dmsans: "DM Sans", sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--black);
}
/* 375 Mobile first css alanı */

/* Header */

/* Header Bitimi */

/* Hero */

/* Hero Bitimi */

/* About Us */

/* About Us Bitimi */

/* Our Courses */

/* Our Courses Bitimi */

/* Our Mentors */

/* Our Mentors Bitimi */

/* Sign up */

/* Sign up Bitimi */

/* Reviews */

/* Reviews Bitimi */

/* Footer */

/* Footer Bitimi */

/* Kauçuk mobile */
@media screen and (max-width: 374px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */
  .sign-up-contents{
    width: 100%;
    max-width: 335px;
  }
  .sign-up-contents p{
    font-family: var(--dmsans);
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    }
    .sign-up-title {
      font-family: var(--dmsans);
      font-weight: 500;
      font-size: 48px;
      line-height: 54px;
      letter-spacing: -0.04em;
      color: var(--white);
      text-align: start;
    }
    .sign-up-title span {
      color: var(--brown);
    }
    #sign-up-privacy-text a{
      text-decoration: underline;
    }
    #sign-up-privacy-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: var(--white05opacity);
    }
    .input-name {
      width: 100%;
      max-width: 335px;
      height: 46px;
      color: var(--white);
      padding-left: 18px;
      border-radius: 12px;
      border: 1px solid #ffffff33;
      background-color: var(--black);
    }
    .input-email {
      width: 100%;
      max-width: 335px;
      height: 46px;
      color: var(--white);
      border-radius: 12px;
      border: 1px solid #ffffff33;
      background-color: var(--black);
      padding-left: 18px;
    }
    form textarea {
      width: 100%;
      max-width: 335px;
      height: 112px;
      border-radius: 12px;
      border: 1px solid #ffffff33;
      background-color: var(--black);
      color: var(--white);
    }
    .submit-div{
      width: 100%;
      max-width: 335px;
    }
    .sign-up-submit {
      max-width: 335px;
      height: 48px;
      border-radius: 12px;
      padding-top: 14px;
      padding-right: 127px;
      padding-bottom: 14px;
      padding-left: 127px;
      background-color: white;
    }
    form button:hover {
      background-color: var(--black);
      color: var(--brown);
    }
    .sign-up-privacy-text{
      width: 100%;
      max-width: 335px;
      min-height: 48px;
    }
  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop */
@media screen and (min-width: 1280px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop - Geniş Ekran Opsiyonel */
@media screen and (min-width: 1440px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
