:root {
  --black: #121212;
  --gray: #1d1d1d;
  --brown: #bea69e;
  --white: #ffffff;
  --white05opacity: rgba(255, 255, 255, 0.5);
  --dmsans: "DM Sans", sans-serif;
  --linear-gradiant: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
}
/* Reset css */
html {
  box-sizing: border-box;
  font-family: var(--dmsans);
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  background-color: var(--black);
}
/* 375 Mobile first css alanı */

/* Header */

/* Header Bitimi */

/* Hero */

/* Hero Bitimi */

/* About Us */

/* About Us Bitimi */

/* Our Courses */

/* Our Courses Bitimi */

/* Our Mentors */

/* Our Mentors Bitimi */

/* Sign up */

/* Sign up Bitimi */

/* Reviews */

/* Reviews Bitimi */

/* Footer */
/* footer mobile */
.footer-section {
  width:100%;
  color:var(--white);
  padding: 50px 0; /* diğer section'lar ile araya dikeyde boşluk için */
  background-image:url(../images/footer-dashed-bg.png);
}
.footer-div {
  width:335px;
  margin:auto;
  display:flex;
  flex-direction: column;
  gap:20px;
  background-color: var(--gray);/* will be deleted, for debug only */
}
.footer-top-container{
  flex:1; /* flex ayarla */
}
.footer-bottom-group {
  flex:1; /* flex ayarla */
}
.footer-group-bc {
  display:flex;
  justify-content: space-between;
  margin-top:20px;
  /* b ve c container'larına flex vericem fontlar vs ayarlandıktan sonra */
}
.footer-bottom {
  display:flex;
  justify-content: space-between;
}
.footer-top-container-ul, .footer-column-b-ul, .footer-column-c-ul{
  list-style:none;
}
.footer-tel-a, .footer-contact-p, .footer-socials-a, .footer-nav-links {
  font-weight: 400;
  font-size:14px;
  line-height: 1.28;
}



/* Footer Bitimi */

/* Kauçuk mobile */
@media screen and (max-width: 374px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop */
@media screen and (min-width: 1280px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
/* Desktop - Geniş Ekran Opsiyonel */
@media screen and (min-width: 1440px) {
  /* Header */

  /* Header Bitimi */

  /* Hero */

  /* Hero Bitimi */

  /* About Us */

  /* About Us Bitimi */

  /* Our Courses */

  /* Our Courses Bitimi */

  /* Our Mentors */

  /* Our Mentors Bitimi */

  /* Sign up */

  /* Sign up Bitimi */

  /* Reviews */

  /* Reviews Bitimi */

  /* Footer */

  /* Footer Bitimi */
}
